<!--responsive layout with dropdown below a certain screen width-->
<nav class="navbar navbar-expand-lg navbar-dark bg-purple shadow-sm">
    <div class="container">
        <a class="navbar-brand d-flex align-items-center fw-bold" href="index.html">
            <i class="fa-solid fa-layer-group me-2"></i>TManager
        </a>
        <!--dropdown-->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link text-white" href="index.html">Home</a></li>
                <li class="nav-item"><a class="nav-link text-white-50" href="tasks.html">Tasks</a></li>
                <li class="nav-item"><a class="nav-link text-white-50" href="about.html">About</a></li>
                <li class="nav-item"><a class="nav-link text-white-50" href="contact.html">Contact</a></li>
                <li class="nav-item"><a class="nav-link text-white-50" href="analytics.html">Analytics</a></li>
            </ul>
        </div>
    </div>
</nav>